//Reset button ///
.MuiButton-contained {
    //color: rgba(0, 0, 0, 0.87);
    box-shadow: none !important;
    //background-color: #e0e0e0;
}

.MuiButton-root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-transform: capitalize !important;
}

// Reset button
.app-fi {
    background-color: #fff;
    padding: 0 48px;
    border-radius: 4px;
    box-shadow: $box-shadow-new;
}

.app-form {
    width: 80%;

}

.app-filter {
    display: flex;
    align-items: center;
    @include style-border(1px, 0,1px,0, solid);
    // border-top: solid 1px 
    padding: 24px 0;
    

    .app-input {
        width: 20%;
        margin-right: 12px;
    }

    .app-action {
        width: 20%;
        height: 62px;
        display: flex;
        align-items: flex-end;
    }

    .app-leyendas {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        height: 62px;
        align-items: flex-end;
    }
}


.app-filter-secundary {
    margin-top: 24px;

    .app-input {
        &:last-child {
            margin-right: 0;
        }
    }
}


.app-input {

    .MuiInputBase-root {
        border-radius: 4px;
        border: solid 1px #fff;

        &.Mui-focused {
            color: map-get($color,colorEleven);
        }
    }


    .MuiInputBase-input {
        font-size: 14px;
        font-weight: 500;
    }

    input::placeholder {
        color: #212121 !important;
        font-size: 14px;
        font-style: italic;
    }
 


    .app-action {
        .app-button {
            .bi {
                font-size: 100px;
            }
        }
    }
    
    // style label
    .MuiFormLabel-root {
        color: #212121 !important;
        font-weight: 500;
    }
}


