.app-table {
    // header table
    overflow: scroll;

    .MuiPaper-root {
        background-color: #fff !important;
        padding: 0 !important;
    }

    // button
    .MuiIconButton-root {
        padding: 6px !important;
    }


    .MuiToolbar-gutters {
        padding: 24px 48px;

        // .MuiTypography-h6 {
        //     color: #C8352E !important;
        // }
    }


    // lable title
    .MuiTableSortLabel-root {
        font-size: 13px;
        font-weight: 600;
        text-transform: capitalize !important;
    }

    // color row
    .MuiTableCell-body {
        font-size: 12px !important;
        text-transform: capitalize;
        // background-color: red;

        .MuiIconButton-root {
            margin-left: 12px;
        }
    }

    .MuiTableRow-root {
        background-color: $color-light;
        &:nth-child(odd) {
            background: #F9F9F9;
        }
        
    }

    // input search
    .MuiTextField-root {
        .MuiInput-underline {
            border-bottom: none !important;
            border: solid 1px #fafafa !important;
        }

        .Mui-focused {
            border: solid 1px red !important;
            color: red;
        }
    }

    .MuiInputBase-root {
        padding: 4px 24px !important;
        background: #fafafa !important;
        border-radius: 25px;
        font-size: 12px !important;

        .bi {
            font-size: 18px;
        }
    }

    .MuiTypography-h6 {
        font-weight: bold !important;
        font-size: 18px !important;
        color: #716D6D;
    }

}

// detail item 
.app-detail-table {
    padding: 24px 48px;

    .app-detail-headaer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        // padding-bottom: 12px;
        // @include style-border(0,0,1px,0,solid);
    }

    .app-detail-item {
        display: flex;
    }

    .app-border {
        padding-top: 8px;
        margin-top: 8px;
        @include style-border(1px, 0, 0, 0, solid);
    }
}

// detail item table 
.app-detail-item {
    display: flex;

    .app-item-20 {
        width: 20%;
    }

    .app-item-15 {
        width: 15%;
    }

    .app-item-25 {
        width: 25%;
    }

    .app-item-40 {
        width: 40%;
    }
}


// detali item modal

.app-history-day {
    @include style-border(1px, 1px, 1px, 1px, solid);
    border-radius: 4px;


    .app-background {
        background-color: #F4F4F7;
        // padding: 8px 12px;
    }

    .app-detail-item {
        padding: 8px 12px;
    }
}


// detail item modal
.app-item-service {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;

    // .app-border-color {
    //     width: 100%;
    //     @include style-border(1px, 0, 0, 0, solid, $color-default);
    // }

    .app-item {
        width: 20%;
        padding: 0;

        h3 {
            line-height: 12px;
            margin-bottom: 8px;
            padding-bottom: 6px;
            @include style-border(0, 0, 1px, 0, solid, $color-default);

        }

        h4 {
            line-height: 12px;
        }
    }
}

// position sticky
.app-table-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}


.app-border {
    @include style-border(1px, 0, 0, 0, solid);
}




.card-detail {
    background: #fff;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0, 1, 0, 1);
    // z-index: -2;

    &.show {
        height: auto;
        max-height: 9999px;
        // margin-bottom: 8px;
        transition: all 0.3s cubic-bezier(0, 1, 0, 1);

    }

}
