@mixin phone {
    @media screen and (max-width: 576px) {
    @content;
    }
}


.header-recepcion {
    z-index: 2 !important;

    .main-title {
        justify-content: flex-start;
        padding: 0 3rem;

        h1 {
            margin: 0;
            padding: 0;

            @include phone {
                text-align: left !important;
            }

        }

        .zmdi-chevron-left {
            margin-top: 4px;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            margin-right: 16px;

            @include phone  {
                margin-top: -4px;
            }
        }

        @include phone  {
            justify-content: flex-start;
            padding: 7.25rem 2rem 12.25rem 2rem;

        }

        .title {
            width:90%;
        }

    }

    @include phone {
        clip-path: ellipse(150% 90% at 30% 10%);
    }
}

.header-home {

    .main-title {

        @include phone  {
            padding-bottom: 3.5rem;
        }
    }
}

.title-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        font-size: 34px;
        font-weight: bold;
        // padding-left:16px;
        color: #fff;
    }

    // .cards-icon {
    //     background:  #FC959C;
    //     height: 0;
    //     width: 0;
    //     padding: 14px;
    //     // border-radius: 100%;
    //     // color: #fff;
    //     // display: flex;
    //     // justify-content: center;
    //     // align-items: center;
    
    //     i {
    //         font-size: 40px;
    //         font-weight: bold;
    //     }
    // }
}

